.signup-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.signup-options-container {
    margin-top: 40px;
}

.form-container {
    margin-top: 40px;
}